@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Open Sans";
}

/* HEADER */
.header {
  background: url(../img/apples.jpg) no-repeat center center / cover;
  text-align: center;

  padding: 0 0 140px 0;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  padding: 50px 75px 0 60px;
}

.logo-container p {
  text-transform: uppercase;
  color: #fff;

  font-weight: bold;
  font-size: 19px;
  letter-spacing: 0.13em;
}

.main-nav__list li {
  display: inline;
  list-style-type: none;
}

.main-nav__item {
  color: #fff;
  text-decoration: none;

  font-size: 19px;
  line-height: 26px;
  letter-spacing: -0.085em;

  margin: 0 0 0 75px;
}

.header__title {
  color: #fff;
  text-transform: uppercase;

  margin-top: 280px;

  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
  letter-spacing: 0.145em;
}

.header__title span {
  font-size: 115px;
}

.header__sub-title {
  color: #fff;
  text-transform: capitalize;

  margin: 15px 0 0;
  font-size: 19px;
  letter-spacing: -0.04em;
}

.header__scroll-down {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid #fff;
  text-transform: capitalize;
  text-decoration: none;

  font-weight: normal;
  font-size: 19px;
  line-height: 26px;
  letter-spacing: -0.04em;

  display: inline-block;

  padding: 17px 100px;
  margin: 215px 0 0;
}

/* MAIN SECTION */
/* introduction */

.introduction {
  padding: 168px 65px 168px;
  display: flex;
}
.introduction > * {
  flex-basis: 50%;
}

.introduction__message {
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.02em;

  padding-right: 100px;
}
.introduction__message span {
  font-weight: 600;
}

/* articles */
.articles {
  background-color: #f3f3f3;
  padding: 196px 64px 60px;
}

.articles__title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;

  text-align: center;
}
.articles__title title strong {
  font-weight: 600;
  letter-spacing: -0.02em;
}

.articles__container {
  margin: 111px 0 0;
}

.articles__item {
  display: flex;
}
.articles__item:not(:first-child) {
  margin-top: 20px;
}

.articles__item:nth-child(2n) {
  flex-direction: row-reverse;
}

.article-item__illustration {
  flex-basis: 63.624%;
  flex-shrink: 0;

  position: relative;
}
.article-item__illustration::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 45px -70px 100px 20px rgba(24, 24, 23, 0.4) inset;
}

.article-item__image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.article-item__like-btn {
  position: absolute;
  color: #fff;

  cursor: pointer;

  right: 23px;
  top: 29px;

  background-color: rgba(0, 0, 0, 0.5);
  outline: none;
  border: 3px solid #fff;
  text-transform: capitalize;
  text-decoration: none;

  font-weight: normal;
  font-size: 19px;
  line-height: 26px;
  letter-spacing: -0.04em;

  display: inline-block;

  padding: 5px 10px;
}

.article-item__detail {
  position: absolute;
  color: #fff;
  left: 23px;
  bottom: 29px;
  z-index: 1;
}

.articles__comment {
  text-align: center;
  vertical-align: middle;

  font-size: 18px;
  letter-spacing: -0.015em;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* subscription */
.subscriprion-banner {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px 33px;
  margin: 60px 0 0;
}
.subscriprion-banner__title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;

  flex-shrink: 0;
}

.subscriprion-banner__title b {
  font-weight: 600;
  letter-spacing: -0.02em;
}

.subscriprion-banner__email-input {
  flex-grow: 1;
  /* max-width: 1019px; */
  flex-shrink: 1;
  margin-left: 25px;
}
.newsletter-input {
  display: flex;
}
.newsletter-input__field {
  outline: none;
  border: 1px solid #000;
  background-color: #f3f3f3;

  font-size: 18px;
  letter-spacing: -0.055em;
  flex-grow: 1;
  /* max-width: 892px; */
}
.newsletter-input__field::placeholder {
  color: #000;
}
.subscriprion-banner__email-input-field {
  padding: 23px;
}

.newsletter-input__submit {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.08em;

  background-color: #343638;
  cursor: pointer;
  border: 1px solid #343638;
  color: #fff;
}
.subscriprion-banner__email-input-submit {
  padding: 23px;
  width: 127px;
}
/* FOOTER */

.footer {
  padding: 124px 63px 0;
}

/* details */
.footer-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-details__item {
  flex-basis: 340px;
  flex-shrink: 1;
  margin-top: 20px;
}

.details-item__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.06em;
}

.details-item__text {
  color: #a9aaaa;

  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.015em;
  margin-top: 10px;
}

.details-item__time-stamp {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.015em;
  color: #eaebee;
}

address {
  font-style: normal;
}

.details-item__text a {
  color: #a9aaaa;
  text-decoration: none;
}

/* subscription */
.footer__email-input {
  margin-top: 5px;
}
.footer__email-input-field {
  padding: 10px 13px;
  flex-shrink: 1;
}
.footer__email-input-submit {
  padding: 10px;
}

/* closing section */
.footer__closing-section {
  display: flex;
  border-top: 3px solid #f0f0f0;
  padding: 18px 0 18px;
  margin-top: 145px;

  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.065em;

  color: #a3a6b2;
}

.footer-nav__list li {
  list-style-type: none;
  display: inline;
}

.footer-nav__item {
  color: #000;
  margin-left: 30px;
  text-decoration: none;
}
