/*Your code goes here*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@400;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.bg-orange {
  background-color: #ff7f50;
  color: #fff;
}
