/* Write your styles here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: #596882;
  border: 1px solid #000;
  padding: 30px;

  border-radius: 10px;
}

.output {
  text-align: right;
  width: 100%;
  height: 30px;
  border: 1px solid #000;
  background: #fff;
  display: flex;
  justify-content: end;
  align-items: center;
}

.input {
  width: 100%;
  margin-top: 10px;

  padding: 1px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);

  grid-gap: 1px;
  background: #d8e1ed;

  /* border: 1px solid black; */
}
.input__item {
  border: 1px solid #596882;
  padding: 1px;

  width: 48px;
  height: 48px;

  background: #596882;

  /* pointer-events: none; */
  cursor: pointer;
}

.input__item span {
  width: 100%;
  height: 100%;
  display: block;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #d8e1ed;

  cursor: pointer;
}

.input__item:active span {
  background: #2e3742; /*23262c*/
}

.logs {
  width: 315px;
  height: 360px;
  /* 360 */
  /* background: rgba(255, 0, 0, 0.096); */

  margin-left: 100px;
  padding: 0 30px;

  overflow: scroll;
}

.logs__item {
  display: flex;
  justify-content: space-between;
}

.logs__item:not(:first-child) {
  margin-top: 20px;
}

.logs__circle span {
  display: block;
  width: 20px;
  height: 20px;

  border-radius: 50%;
  border: 2px solid #000;

  cursor: pointer;
}

.logs__circle--filled {
  background-color: red;
}

.logs__close {
  cursor: pointer;
}

.logs__circle span:hover {
  border: 2px solid red;
}

.logs__close span:hover {
  color: red;
}
