#app-root {
  text-align: center;
}
.search_type * {
  display: inline-block;
  vertical-align: middle;
}
.seart_type__inputs {
  text-align: left;
}
.search_query {
  margin-top: 10px;
}
table {
  border: 1px solid #000;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 30px auto 0px;
}
td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: yellow;
}
