body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

/* Your code goes here */

* {
  margin: 0;
  padding: 0;
}
body {
  background: #f4f4f4;
}
a {
  text-decoration: none;
  color: #027bff;
}
section {
  background: #fff;
  width: 100%;

  margin-top: 30px;
}
.button {
  display: inline-block;
  background: #019999;

  text-decoration: none;
  text-transform: uppercase;

  padding: 13px 47px;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.06em;

  color: #fff;

  box-sizing: content-box;

  border: none;
  cursor: pointer;

}
.button:hover {
  background: rgb(118, 205, 216);
}
h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  letter-spacing: -0.02em;
  color: #78cdd8;
}
p {
  font-weight: normal;
  font-size: 18px;
  line-height: 164.5%;

  letter-spacing: 0.01em;

  color: #666666;
}

.main-content {
  display: flex;
  justify-content: center;
}
.main-content__wrap {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


/* section ABOUT */
.about {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
}
.about__item {
  width: 50%;

  height: 100%;

  padding: 75px 63px;
  box-sizing: border-box;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-item__h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 66px;

  letter-spacing: -0.035em;
}
.about-item__h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 41px;

  letter-spacing: -0.02em;

  color: #686868;

  margin-bottom: 23px;
}
q {
  font-style: italic;
}
.about-item__p {
  font-weight: normal;
  font-size: 23px;

  line-height: 164.5%;

  letter-spacing: 0.01em;

  color: #666666;
}
.about__row:hover .about-item__p {
  color: #76cdd8;
}

.about__row:hover .about__item--r::after {
  content: "";
  position: absolute;

  right: 0;
  top: 0;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 42px 42px 0;
  border-color: transparent #76cdd8 transparent transparent;
}

.about__row:hover .about__item--l::after {
  content: "";
  position: absolute;

  left: 0;
  top: 0;

  width: 0;
  height: 0;
  border-style: solid;
  border-width: 42px 42px 0 0;
  border-color: #76cdd8 transparent transparent transparent;
}
.about__item--l a {
  align-self: flex-end;
}

.about-item__img--circle {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}
.about-item__sub {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.035em;

  color: #ffffff;

  margin-top: 33px;
}

.about__item--colored {
  background: #76cdd8;
}
.about__item--colored .about-item__h1 {
  color: #fff;
}
.about-item__h2--colored {
  color: #78cdd8;
}
.about__item--img {
  padding: 0;

  position: relative;
}
.about-item__img--fill {

  width: 100%;
  height: 100%;
  object-fit: fill;
}
.about-item__img--fill:hover {
  transform: scale(1.1);
}
.about-item__btn {
  margin-top: 33px;
}

/* section MORE */
.more {
  display: flex;
}

.more__content {
  padding: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.more__img img {
  max-width: 385px;
  height: 100%;
  object-fit: cover;
}
.more__img img:hover {
  transform: scale(1.1);
}

.more__h2 {
  margin-bottom: 5px;
}
.more p {
  margin-top: 18px;
}

.more__btn {
  margin-top: 35px;
  align-self: flex-end;
}

/* section PLAN */
.plan {
  display: flex;
}
.plan__img {
  overflow: hidden;
}
.plan__img img {
  max-width: 400px;
}
.plan__img img:hover {
  transform: scale(1.1);
}
.plan__content {
  padding: 32px 42px;
  flex-grow: 1;
}

.plan__cards-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
}
.plan-card {
  border: 1px solid #019999;
}
.plan-item__special {
  display: none;
  position: relative;
}
.plan-item__special::before {
  content: "*";
  color: red;
  position: absolute;

  left: 0;
  top: 0;
  transform: translate(-100%, 0%);
}
.plan-card:hover .plan-item__special {
  display: block;
  align-self: center;
}

.plan-card__header {
  background: #019999;
  padding: 30px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.plan-card__title {
  text-transform: capitalize;
  color: #fff;
}
.plan-card__sub-title {
  color: #fff;
}

.plan-card__body {
  display: flex;
  flex-direction: column;
  align-content: flex-start;

  padding: 50px 50px 35px;
}
.plan-item__btn {
  margin-top: 30px;
  align-self: center;
}

/* section APPLICATION */
.application__header {
  background: #23d4d4;
  padding: 52px 0 calc(40px + 56px) 160px;
}
.application__title {
  color: #fff;
}

.application__body {
  background: #f4f4f4;
  display: flex;
  justify-content: center;
}
.application__form {
  max-width: 880px;
  background: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 12px 84px;

  position: relative;
}
.application__form::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);

  width: 100%;
  height: 56px;
  background: #fff;
}
.application__form::after {
  content: "";

  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);

  width: 100%;
  height: 56px;
  background: #fff;
}
.application__form-col {
  flex-basis: 50%;
  box-sizing: border-box;
}
.application__form-col--inp {
  flex-shrink: 2;
  display: flex;
  flex-direction: column;

  padding-right: 15px;
}
.application__form-col--ta {
  flex-shrink: 1;

  padding-left: 15px;
}
.application textarea {
  width: 100%;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.02em;

  color: #666666;

  margin-top: 15px;
  padding: 13px 20px;
}

.application__form-btn {
  margin-top: 40px;
}

.application__form input,
.application__form select {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.02em;

  color: #666666;

  padding: 13px 20px;
  margin-top: 15px;

  background: #fff;
  border: 1px solid #ced4da;
}
.application__form input:hover,
.application__form select:hover,
.application textarea:hover {
  border-color: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
}
.application__form select {
  border: 1px solid #767676;
}

/* section FOOTER */
footer {
  background: #019999;
  width: 100%;
}
footer * {
  color: #fff;
}

.footer__content {
  padding: 110px 24px 55px;
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  flex-basis: 212px;
  margin-left: 227px;
}

.footer__copyright {
  width: 100%;
  background: #f4f4f4;
  color: #666666;

  text-align: center;
  padding: 28px 0;
}
