:root {
  --primary-color: #f2c744;
  --light: #f4f6f9;
  --dark: #000;
  --primary-font: "Shadows Into Light", cursive;
  --secondary-font: "Dancing Script", cursive;
}


/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  margin: 8px;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "header header"
    "gallery bio"
    "footer footer";

  text-align: center;
}

.main-container > *:not(.bio) {
  box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.2);
}

.title_name {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 167.14%;
  letter-spacing: 0.015em;
  color: #000000;
}
.title_job,
p,
.footer__copyright {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 167.14%;
  letter-spacing: 0.01em;
  color: #000000;
}


/* HEADER section */
.header {
  grid-area: header;
  padding: 18px 0;
  display: grid;
}
.header__logo {
  width: 68px;
  margin: auto;
}
.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
header .title_name {
  font-size: 27px;
}
header .title_job {
  font-size: 13px;
}


/* GALLERY section */
.gallery {
  padding: 26px;

  grid-area: gallery;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(12, 1fr);
}
.gallery__item {
  width: 100%;
  height: 100%;
  position: relative;
}
.gallery__item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.gallery__item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
}

.h-1 {
  grid-row: span 1;
}
.h-2 {
  grid-row: span 2;
}
.h-3 {
  grid-row: span 3;
}
.h-4 {
  grid-row: span 4;
}
.h-5 {
  grid-row: span 5;
}


/* BIO section */
.bio {
  grid-area: bio;
  display: grid;
  position: relative;
}
.bio__container {
  align-self: flex-start;
  position: sticky;
  top: 8px;
  box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.2);
  padding: 10px 15px 18px;
}
.bio .avatar {
  width: 100px;
  height: 100px;
  margin: auto;
}
.bio .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.bio_name {
  font-size: 19px;
}
.bio_job {
  font-weight: bold;
  font-size: 12px;
}
.bio__p {
  font-size: 13px;
}
.bio .icons {
  margin-top: 15px;
  height: 15px;
}
.bio .icons i {
  cursor: pointer;
  margin: 0 5px;
}
.bio .icons i:hover {
  transform: scale(1.2);
  transition: all 300ms ease-in-out;
}


/* FOOTER section */
.footer {
  grid-area: footer;
}
.footer__logo {
  width: 23px;
  margin: auto;
  margin-top: 17px;
}
.footer__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.footer .title_name {
  font-size: 11px;
}
.footer .title_job {
  font-size: 10px;
}
.footer__copyright {
  font-size: 13px;
  font-weight: normal;
}


@media screen and (max-width: 500px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "bio"
      "gallery"
      "footer";
  }

  .bio__container {
    position: static;
    top: auto;
  }
}