@import "./var";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  margin: 50px 25px 0;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}
.r2 {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.cell {
  padding: 10px;
  width: 70px;
  height: 70px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
.c2 {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

button {
  background: $btn_color;
  padding: 10px;
  width: 100px;
  color: #fff;
  border: none;
  margin-bottom: 25px;
  cursor: pointer;
}

.result {
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
  visibility: hidden;
}
.score_item {
  font-size: 20px;
}

.result--shown {
  visibility: visible;
}
