* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hind", sans-serif; }

button, .header .header-wrap .header_button, .section_banner_button {
  border: none;
  padding: 15px 40px;
  color: #fff;
  background-color: #e3ac00;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 19px; }

a {
  font-family: "Source Sans Pro", sans-serif; }

.header {
  height: 720px;
  box-sizing: border-box;
  padding: 12px 190px 0;
  background: url(../img/m-h-night.jpg) no-repeat center center/cover;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  border-radius: 0px 0px 40% 0px;
  position: relative; }
  .header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #21232e;
    z-index: -1;
    left: 0;
    top: 0; }
  .header .header-wrap {
    width: 564.7058823529px; }
    .header .header-wrap .landing-logo {
      display: flex;
      margin: 9px 1px; }
      .header .header-wrap .landing-logo p {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 0 0 15px;
        font-family: "Fresca", sans-serif;
        font-weight: 600;
        font-size: 24px; }
        .header .header-wrap .landing-logo p span {
          font-weight: 100;
          font-size: 10px; }
      .header .header-wrap .landing-logo img {
        object-fit: contain; }
    .header .header-wrap .header_heading {
      margin: 70px 0 0 2px;
      line-height: 100.2%;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 72px;
      font-weight: 700;
      color: #fff;
      position: relative;
      z-index: 0; }
      .header .header-wrap .header_heading::before {
        content: "";
        background-color: #ff4e33;
        position: absolute;
        z-index: -1;
        width: 50%;
        height: 35%;
        left: 0;
        bottom: 0; }
    .header .header-wrap .header_text {
      margin: 64px 0 0;
      font-weight: 400;
      font-size: 15px;
      line-height: 158%;
      letter-spacing: 0.045em; }
    .header .header-wrap .header_button {
      margin: 58px 152px 0 0; }
    .header .header-wrap .login {
      color: #fff; }

.section {
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  background: #21232e;
  padding: 0 0 212px 0;
  position: relative; }

.section_text {
  margin: 40px 0 0 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -0.03em;
  text-align: center;
  position: relative;
  z-index: 0; }
  .section_text::before {
    content: "";
    background-color: #ff4e33;
    position: absolute;
    z-index: -1;
    width: 11%;
    height: 100%;
    left: 50.5%;
    bottom: 0; }

.section_card_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section_card {
  flex-grow: 1;
  background-color: #3b3f50;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: #fff;
  width: 1117px;
  margin: 25px 0 0 0; }
  .section_card_img {
    border-radius: 5px;
    width: 430px; }
  .section_card_right_container {
    margin: 0 0 0 85px;
    width: 477px; }
  .section_card_heading {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: 0.005em;
    color: #fff;
    text-align: center;
    margin-top: 30px; }
  .section_card_text {
    font-family: "Hind", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #c0c3ce;
    margin-top: 30px; }
  .section_card a {
    display: block;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #c0c3ce;
    margin-top: 30px; }

.section_banner {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  width: 1198px;
  border-radius: 5px;
  padding: 12px 159px 50px 162px;
  background: #e2aa01;
  background: linear-gradient(45deg, #e2aa01 0%, #b6652e 50%, #922b53 100%);
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .section_banner_heading {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */
    letter-spacing: 0.01em;
    color: #fff;
    position: relative;
    z-index: 0; }
    .section_banner_heading::before {
      content: "";
      background-color: #ff4e33;
      position: absolute;
      z-index: -1;
      width: 15%;
      height: 100%;
      left: 30%;
      bottom: 0; }
  .section_banner_text {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    letter-spacing: 0.01em;
    color: #c0c3ce; }

.footer {
  background-color: #3b3f50;
  font-family: "Hind", sans-serif;
  padding: 120px 190px 29px;
  color: #c0c3ce;
  box-sizing: border-box; }
  .footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer_logo {
    font-family: "Fresca", sans-serif; }
  .footer_text {
    width: 300px;
    margin: 0; }
