/* START: Task 1 Styles */
.table {
  margin: 0 auto;
  /* background-color: red; */
  border: 1px solid #000;
}
.cell {
  border: 1px solid #000;
  width: 80px;
  height: 80px;
  padding: 15px;
  box-sizing: border-box;
  cursor: pointer;
}
/* END: Task 1 Styles */

/* START: Task 2 Styles */
#task2 form {
  margin: 50px auto auto;
  display: flex;
  justify-content: center;
}
.tel__form-content {
  padding: 75px 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 330px;
  position: relative;
  /* background-color: rgb(211, 32, 32); */
}

.tel__input {
  /* margin: 0 10px 0 0; */
  flex-basis: 250px;
  padding-left: 5px;
  border: 1px solid #000;
  outline: none;
}
.tel__input::placeholder {
  font-size: 8px;
}
.tel__input--fail {
  border-color: #ff8080;
}

.tel__notification {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  color: white;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.tel__notification--success {
  flex-basis: 100%;
  background-color: green;
  visibility: visible;
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.tel__notification--fail {
  flex-basis: 100%;
  background-color: #ff8080;
  visibility: visible;
  opacity: 1;
  transition: all 300ms ease-in-out;
}
/* END: Task 2 Styles */

/* START: Task 3 Styles */
.gameboard {
  display: table;
  margin: 50px auto 50px;
}
.court {
  position: relative;
  background-image: url(assets/court.png);

  width: 600px;
  height: 330px;
  /* background-size: 600px 330px; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}
.ball {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ball--move {
  top: 0;
  left: 0;
  transition: all 500ms ease-in-out;
}
.win-zone {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  /* border: 1px solid #000; */
  cursor: pointer;
}
.win-zone--left {
  left: 35px;
  transform: translate(-50%, -50%);
}
.win-zone--right {
  right: 35px;
  transform: translate(50%, -50%);
}
.scoreboard__teams {
  display: flex;
  justify-content: space-between;
}
.scoreboard__notif {
  text-align: center;
}
/* END: Task 3 Styles */
