/* 1) |+| You need to create a print version of the web-page */

@media print {
  #about,
  .heading,
  .blocks,
  #ideas,
  .img-contact-us,
  #contact,
  img[alt~="epam-mexico"] {
    display: none;
  }
}

/* 2) |+| Tiles with text should have hover effect */

#about li .tm-section-title:hover {
  background-color: #87cefa;
  color: white;

  transition-duration: 300ms;
}

/* 3) |+| Change color of first letter in each paragraphs to lightskyblue (#87CEFA) and font size to 30px */

p::first-letter {
  font-size: 30px;
  color: #87cefa;
}

/* 4) |+| Add box shadow to navigation and each content block. Add grey border to the banner */

nav,
#home,
section {
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.2);
}

.tm-banner {
  background-color: #f5f5f5;
}
.tm-banner-inner {
  background-color: white;
}

/* 5) |+| Add triangle to each section on the page using pseudo elements */

section div.padding-medium {
  position: relative;
  overflow: hidden;
}
section div.padding-medium::after {
  content: "";
  background-color: #87cefa;
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 1;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%) rotate(-10deg);
}

/* 6) |+| Change color of ‘How We Do It’ to gainsboro and add letter spacing 5px */

#ideas h2 {
  color: gainsboro;
  letter-spacing: 5px;
}

/* 7) |+| Each first paragraph which placed after h2 tag should have italic font style */

h2 + p {
  font-style: italic;
}

/* 8) |+| Text in the paragraph should look like in "Figure 7" */
/* (vertical space between lines is increased, there is some free space at the start of the first line)*/

p:not(.tm-banner-text) {
  text-indent: 20px;
  line-height: 35px;
}

/* 9) |+| Apply styles in “We are” section: */

section.heading a {
  color: black;
}

section.heading a:visited {
  text-decoration: underline;
}

section.heading a:hover {
  text-decoration: underline;
  text-decoration-style: double;
  color: skyblue;
}

section.heading .text {
  position: relative;
}
section.heading .text::after {
  content: "New";
  position: absolute;
  color: red;
  font-size: 10px;
}

/* 10) |+| Add layout and styles for following block */

.box-work {
  padding: 5px;
}
.box-work p::first-letter {
  color: black;
}
.box-work p {
  font-size: small;
  line-height: normal;
}
.box-work:nth-child(2n) {
  background-color: #f5f5f5;
}

/* 11) |+| Change submit button styles. Add asterisk to email field */

/* Button */
button.submit-btn {
  background-color: white;
  color: #87cefa;
  border: 1px solid #87cefa;
  border-radius: 0;

  padding: 10px 40px;

  font-weight: 100;

  float: right;
}

button.submit-btn:hover {
  background-color: #87cefa;
  border: 1px solid #87cefa;

  transition-duration: 300ms;
}

/* Asterisk */
.mandatory-field::after {
  content: "*";
  color: red;
}

/* 12) |+| Add hover effect for navigation items (grey background) */

nav li:hover {
  background-color: #f5f5f5;
}