$font-weights: (
  "thin": 100,
  "light": 300,
  "normal": 400,
  "semiBold": 600,
  "bold": 700,
);

//mixins
%setup {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: $font-content;
}

%button {
  border: none;
  padding: 15px 40px;
  color: $color-second;
  background-color: $color-button;
  border-radius: 3px;
  cursor: pointer;
  font-family: $font-titles;
  font-weight: bold;
  font-size: 19px;
}

@mixin outline($w, $h, $l, $b) {
  position: relative;
  z-index: 0;
  &::before {
    content: "";
    background-color: $color-outline;
    position: absolute;
    z-index: -1;

    width: $w;
    height: $h;
    left: $l;
    bottom: $b;
  }
}

// GENERAL CSS
* {
  @extend %setup;
}

button {
  @extend %button;
}
a {
  font-family: $font-titles;
}

// HEADER CSS

.header {
  height: 720px;
  box-sizing: border-box;
  padding: 12px 190px 0;
  background: $bg-header;
  font-family: $font-titles;
  color: $color-main;
  border-radius: 0px 0px 40% 0px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: $color-sectionBG;
    z-index: -1;
    left: 0;
    top: 0;
  }
  .header-wrap {
    width: (1920px / 3.4);

    .landing-logo {
      display: flex;
      margin: 9px 1px;
      p {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 0 0 15px;

        font-family: $font-logo;
        font-weight: map-get($font-weights, "semiBold");
        font-size: 24px; //ch
        span {
          font-weight: map-get($font-weights, "thin");
          font-size: 10px; //ch
        }
      }
      img {
        object-fit: contain;
      }
    }

    .header_heading {
      margin: 70px 0 0 2px;
      line-height: 100.2%;
      font-family: $font-titles;
      font-size: 72px;
      font-weight: map-get($font-weights, "bold");
      color: $color-main;
      @include outline(50%, 35%, 0, 0);
    }

    .header_text {
      margin: 64px 0 0;
      font-weight: map-get($font-weights, "normal");
      font-size: 15px;
      line-height: 158%;
      letter-spacing: 0.045em;
    }

    .header_button {
      @extend %button;
      margin: 58px 152px 0 0;
    }
    .login {
      color: #fff;
    }
  }
}

/////////section card

.section {
  font-family: $font-titles;
  color: $color-main;
  background: $color-sectionBG;
  padding: 0 0 212px 0;

  position: relative;
}
.section_text {
  margin: 40px 0 0 0;
  font-family: $font-titles;
  font-size: 45px;
  font-weight: map-get($font-weights, "semiBold");
  letter-spacing: -0.03em;
  text-align: center;
  @include outline(11%, 100%, 50.5%, 0);
}

.section_card_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_card {
  flex-grow: 1;
  background-color: $color-card;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  color: #fff;
  width: 1117px;

  margin: 25px 0 0 0;
  &_img {
    border-radius: 5px;
    width: 430px;
  }
  &_right_container {
    margin: 0 0 0 85px;
    width: 477px;
  }
  &_heading {
    font-family: $font-titles;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: 0.005em;
    color: #fff;

    text-align: center;
    margin-top: 30px;
  }
  &_text {
    font-family: $font-content;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    /* identical to box height */
    letter-spacing: 0.02em;

    color: #c0c3ce;
    // ADD another font!
    margin-top: 30px;
  }
  a {
    display: block;
    text-align: center;
    font-family: $font-titles;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    /* identical to box height */
    letter-spacing: 0.02em;

    color: #c0c3ce;
    margin-top: 30px;
  }
}

.section_banner {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);

  font-family: $font-titles;

  box-sizing: border-box;

  width: 1198px;
  border-radius: 5px;
  //   height: 145px;

  padding: 12px 159px 50px 162px;
  background: $color-banner;
  background: $color-banner-gradient;

  //   display: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &_heading {
    font-family: $font-titles;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;

    /* identical to box height */
    letter-spacing: 0.01em;

    color: $color-main;

    @include outline(15%, 100%, 30%, 0);
  }
  &_text {
    font-family: $font-titles;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    /* identical to box height */
    letter-spacing: 0.01em;

    color: $color-paragraf;
  }

  &_button {
    @extend %button;
  }
}

// footer
.footer {
  background-color: $color-card;
  font-family: $font-content;
  padding: 120px 190px 29px;

  color: $color-paragraf;

  box-sizing: border-box;

  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_logo {
    font-family: $font-logo;
  }

  &_text {
    width: 300px;
    margin: 0;
  }
}
