//fonts
$font-titles: "Source Sans Pro", sans-serif;
$font-content: "Hind", sans-serif;
$font-logo: "Fresca", sans-serif;

//colors
$color-main: #fff;
$color-second: #fff;
$color-paragraf: #c0c3ce;
$color-outline: #ff4e33;

$color-headerBG: #3b3f50;
$color-sectionBG: #21232e;
$color-card: #3b3f50;
$color-footer: #3b3f50;

$color-button: #e3ac00;
$color-banner: rgb(226, 170, 1);
$color-banner-gradient: linear-gradient(
  45deg,
  rgba(226, 170, 1, 1) 0%,
  rgba(182, 101, 46, 1) 50%,
  rgba(146, 43, 83, 1) 100%
);

// background
$bg-header: url(../img/m-h-night.jpg) no-repeat center center / cover;
