//fonts
$font-titles: "Source Sans Pro", sans-serif;
$font-content: "Hind", sans-serif;
$font-logo: "Hind", sans-serif;

//colors
$color-main: #2c2f3c;
$color-second: #fff;
$color-paragraf: #c0c3ce;
$color-outline: #14a0c7;

$color-headerBG: #fff;
$color-sectionBG: #fff;
$color-card: #21232e;
$color-footer: #21232e;

$color-button: #699900;
$color-banner: rgb(104, 152, 2);
$color-banner-gradient: linear-gradient(
  45deg,
  rgba(104, 152, 2, 1) 0%,
  rgba(73, 120, 114, 1) 50%,
  rgba(43, 89, 221, 1) 100%
);

// background
$bg-header: url(../img/m-h-day.jpg) no-repeat center center / cover;
