* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}

ul {
  /* background: red; */
  flex-grow: 1;
  height: calc(100vh - 50px);
  width: 100vw;

  display: flex;
  flex-direction: column;

  padding: 15px;
  overflow: scroll;
}

form {
  display: flex;
  height: 50px;
  align-self: flex-end;
  width: 100vw;
  /* ju */
}

textarea {
  flex-grow: 1;
  resize: none;
}
button {
  padding: 15px 10px;
}

li {
  padding: 10px;

  width: auto;

  display: flex;
  flex-direction: column;
  border-radius: 10px;

  margin-bottom: 15px;
}

.message__own {
  align-self: flex-end;
  background: rgb(101, 126, 209);
}

.message__friend {
  align-self: flex-start;
  background: rgb(175, 175, 175);
}

li * {
  display: inline;
}
