/*
* Colors used in design.
*   primary: #0078aa;
*   dark: #363636;
*   light: #fff;
*/
* {
  font-family: "Montserrat", sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.go-home {
  position: fixed;
  right: 18px;
  top: 50%;
  border-radius: 50%;
  background-color: #0078aa;
  width: 50px;
  height: 50px;

  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
}

.section__title {
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  letter-spacing: -0.02em;

  color: #000000;

  text-transform: capitalize;
}
.section__sub-title {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  letter-spacing: -0.035em;

  color: #000000;

  text-transform: uppercase;
}

/* HEADER */
.header {
  background: url(../img/lady.jpg) no-repeat center center / cover;
  padding: 209px 0 126px;
  margin-top: 56.5px;
}

.header-nav {
  position: fixed;
  background-color: #fff;
  left: 0;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: center;
}

.content-wrap {
  flex-basis: 1170px;
  padding: 0 15px;
}

.header-nav .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header-nav__list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.header-nav__item a {
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  margin: 0 0 0 20px;
  text-decoration: none;
}

.header-nav__item a:hover {
  color: #1f96c3;
}

.header-icons {
  display: flex;
}

.header-icons__item {
  border-radius: 50%;
  background-color: #0078aa;
  display: inline;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-icons__item svg path {
  fill: #fff;
}

.header__title {
  font-weight: bold;
  font-size: 40px;
  max-width: 550px;
}

.header__text {
  max-width: 450px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;

  color: #a299a5;

  margin: 20px 0 0;

  line-height: 114%;
}

.header-icons {
  margin: 25px 0 0 -25px;
}
.header-icons__item {
  margin: 0 0 0 25px;
}

/* ABOUT */
.about {
  width: 100%;
  display: flex;
  justify-content: center;
}
.about__wrap {
  max-width: 1170px;
  flex-basis: 1170px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
}

.about__img {
  width: 50%;
  position: relative;
}
.about__img img {
  width: 100%;
}

.text-content {
  padding: 132px 0 155px 30px;
  align-self: end;
}

.text-content__title {
  font-size: 33px;
  letter-spacing: -0.02em;

  color: #000000;

  text-transform: capitalize;
}

.text-content__sub-title {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: -0.08em;

  color: #1a86c1;

  text-transform: uppercase;

  margin-top: 5px;
}

.text-content__main {
  margin-top: 4px;
}
.text-content__h3 {
  font-weight: bold;
  font-size: 16px;
  color: #000000;

  text-transform: capitalize;

  margin-top: 17px;
}
.text-content__h3::before {
  content: "→";
  margin-right: 11px;
  color: #1799d9;
}

.text-content__paragraf {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: -0.07em;

  color: #363636;

  max-width: 395px;

  margin-top: 6px;
}

/* SERVICES */
.services {
  background: url(../img/services_bg.jpg) no-repeat center center / cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__title {
  margin-top: 30px;
}
.services__sub-title {
  margin-top: 5px;
}

.services-cards {
  width: 100%;
  display: flex;
  justify-content: center;
}

.services-cards__wrap {
  max-width: 1170px;
  margin: 2px 15px 0;
  padding-bottom: 60px;
}

.services-cards__row {
  display: flex;
  justify-content: space-between;
  margin: 25px -15px 0 -15px;
}
.services-cards__item {
  background: #fff;
  flex-grow: 1;
  margin: 0 15px 0 15px;
  padding: 30px 0 28px 25px;
}

.services-card__title {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: -0.03em;
}
.services-cards__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 106.9%;
  letter-spacing: -0.07em;

  color: #a299a5;

  margin-top: 17px;
}

/* OFFERS */
.offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../img/pricing_bg.jpg) no-repeat center center / cover;
  padding-bottom: 16px;
}
.offers__title {
  margin-top: 100px;
}

.offers-cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.offers-cards__wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 55px;

  flex-basis: 1170px;

  padding: 0 15px;
}

.offers-cards__item {
  background: #47c9e5;
  text-align: center;
  color: #fff;

  flex-grow: 1;
}
.offers-cards__item-wrap {
  margin: 46px 0 32px;
}

.offers-cards__treatment-list {
  list-style: none;
}
.offers-cards__title {
  font-weight: bold;
  font-size: 24px;
}
.offers-cars__price {
  font-weight: bold;
  font-size: 60px;

  margin-top: 21px;
}
.offers-cars__treatment-count {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 106.9%;

  margin-top: 15px;
}
.offers-cards__treatment-list {
  margin-top: 7px;
}
.offers-cards__treatment-item p {
  margin-top: 28px;
  text-transform: capitalize;
}

.offers-cards__button {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 106.9%;
  letter-spacing: -0.04em;

  color: #0078aa;
  padding: 14px 21px;
  text-transform: capitalize;

  background: #ffffff;
  border: 2px solid #0078aa;
  box-sizing: border-box;
  border-radius: 12px;

  margin-top: 29px;

  cursor: pointer;
}
.offers-cards__button:hover {
  background-color: #0078aa;
  color: #fff;
}

.offers-cards__item--main {
  background-color: #fff;
  color: #0078aa;
  border: 1px solid #0078aa;
}

.offers-cards__item--main .offers-cards__item-wrap {
  margin: 77px 0 61px;
}

/* APPOINTMENT */
.appointment {
  display: flex;
}
.appointment__img {
  width: 50%;
  flex-shrink: 0;
}

.appointment__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.appointment__content {
  padding: 114px 27px 123px 30px;
}

.appointment__form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #eeeeee;
  font-style: italic;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;

  color: #68707a;

  margin-top: 18px;
  padding: 7px 13px;
}

.appointment__form-submit {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;

  padding: 12px 21px;
  background: #0078aa;
  border-radius: 13px;

  border: 1px solid #0078aa;
  cursor: pointer;

  margin-top: 17px;
}

.appointment__form-submit:hover {
  color: #0078aa;
  background-color: #fff;
}

/* FOOTER */
.footer {
  color: #fff;
  background-color: #363636;

  font-style: normal;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.06em;
  padding: 18px 0;

  text-align: center;
}

@media screen and (max-width: 767px) {
  .header-nav .content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header-nav__list {
    justify-content: center;
  }

  .section__title {
    text-align: center;
  }
  .header__title,
  .header__text {
    text-align: center;
    flex-grow: 1;
    max-width: none;
  }

  .header .content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .header-icons {
    justify-content: space-between;
    flex-basis: 200px;
  }
  .header-icons__item {
    margin: 0;
  }

  .about__wrap {
    flex-wrap: wrap;
    justify-content: center;

    align-items: center;
  }
  .about__img {
    width: 100%;
    flex-grow: 1;
    object-fit: cover;
  }

  .about__img img {
    width: 100%;
  }

  .about .text-content {
    text-align: center;
    padding: 16px 10px 35px;
    align-self: start;
  }

  .services-cards__row {
    margin: 0 -15px 0 -15px;
    flex-wrap: wrap;
  }
  .services-cards__item {
    margin: 25px 15px 0 15px;
    padding: 30px 25px 28px 25px;
  }

  .offers-cards__wrap {
    margin-top: 8px;
    flex-wrap: wrap;
  }
  .offers-cards__item {
    margin-top: 10px;
    width: 100%;
  }

  .appointment {
    flex-wrap: wrap;
  }

  .appointment__img {
    height: auto;
    width: 100%;
  }

  .appointment__content {
    text-align: center;
  }
}

@media screen and (max-width: 304px) {
  .section__title {
    font-size: 24px;
    letter-spacing: -0.02em;
  }
  .section__sub-title {
    font-size: 12px;
    letter-spacing: -0.09em;
  }

  .header-nav__item a {
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.045em;

    margin: 0 0 0 6px;
  }

  .appointment__content {
    padding: 21px 27px 15px 30px;
  }

  .text-content__sub-title {
    font-size: 12px;
  }

  .about__wrap {
    margin-top: 30px;
  }
}
